body, html {
    height: 100%;
    margin: 0;
  }

.bg {
   
    background-image: url("../assests/banking.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page-nav a {
    color: white;
    border: 2px white solid;
}

.landing-page-nav {
    position: absolute;
    bottom: 20px;
}